/* -------------------------------- WEB FONTS CSS -------------------------------- */
@-zs-include webfonts(PT Sans/Raleway:400);
/* -------------------------------- PRESET CSS -------------------------------- */
body, h1, h2, h3, h4, h5, h6, p, ol, ul, li {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
body {
 background-attachment:$BGAttachment1[scroll];
 background-color:$BGColor1[#f3f3f3];
 background-image:$BGImage1[url(images/backgroundTexture.png)];
 background-position:$BGPosition1[0 0];
 background-repeat:$BGRepeat1[repeat];
 background-size:$BGSize1[auto];
 font-family:$BodyFontFamily['PT Sans', Verdana, Geneva, sans-serif];
 font-size:$BodyFontSize[14px];
 color:$BodyTextColor[#777777];
    -webkit-text-size-adjust: none;
    width: 100%;
    height: 100%;
}
h1 {
font-family:$BodyH1FontFamily['Raleway', Verdana, Geneva, sans-serif];
font-size:$BodyH1FontSize[28px];
color:$BodyH1TextColor[#ecc012];
}
h2 {
font-family:$BodyH2FontFamily['Raleway', Verdana, Geneva, sans-serif];
font-size:$BodyH2FontSize[24px];
color:$BodyH2TextColor[#ecc012];
}
h3 {
font-family:$BodyH3FontFamily['Raleway', Verdana, Geneva, sans-serif];
font-size:$BodyH3FontSize[22px];
color:$BodyH3TextColor[#ecc012];
}
h4 {
font-family:$BodyH4FontFamily['Raleway', Verdana, Geneva, sans-serif];
font-size:$BodyH4FontSize[20px];
color:$BodyH4TextColor[#ecc012];
}
h5 {
font-family:$BodyH5FontFamily['Raleway', Verdana, Geneva, sans-serif];
font-size:$BodyH5FontSize[18px];
color:$BodyH5TextColor[#ecc012];
}
h6 {
font-family:$BodyH6FontFamily['Raleway', Verdana, Geneva, sans-serif];
font-size:$BodyH6FontSize[16px];
color:$BodyH6TextColor[#ecc012];
}
a {
 color:$BodyAColor[#ecc012];
 text-decoration:$BodyATextDecoration[none];
}
a:hover {
 text-decoration:$BodyAHoverTextDecoration[none];
 color:$BodyAHoverColor[#ecc012];
}
p {
    line-height: 23px;
}
ul, ol {
    padding: 0 0 0 20px;
    list-style: disc;
}
ol {
    list-style: decimal;
    padding: 0 0 0 23px;
}
li {
    padding: 0 0 10px;
}
hr {
  border: 0;
  border-top: 1px dashed #e6e5e5;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th {
 font-family:$BodyTHFontFamily['PT Sans', Verdana, Geneva, sans-serif];
 font-size:$BodyTHFontSize[14px];
 color:$BodyTHTextColor[#777777];
 background:$BodyTHBGColor[#ffffff];
 border-width:$BodyTHBorderWidth[1px];
 border-style:$BodyTHBorderStyle[solid];
 border-color:$BodyTHBorderColor[#e6e5e5];
 padding:$BodyTHCellSpaceing[10px];
 font-weight:normal;
}
td {
 font-family:$BodyTDFontFamily['PT Sans', Verdana, Geneva, sans-serif];
 font-size:$BodyTDFontSize[14px];
 color:$BodyTDTextColor[#777777];
 background:$BodyTDBGColor[#f8f8f8];
 border-width:$BodyTDBorderWidth[1px];
 border-style:$BodyTDBorderStyle[solid];
 border-color:$BodyTDBorderColor[#e6e5e5];
 padding:$BodyTDCellSpaceing[10px];
}
/*---------------------------------- HEADER AREA -----------------------------------------*/
.headerContainer {
    background:#ffffff;
    padding: 20px;
    text-align: center;
    margin:15px;
    box-shadow:0 0 6px rgba(0,0,0,0.1);
    -webkit-box-shadow:0 0 6px rgba(0,0,0,0.1);
    -moz-box-shadow:0 0 6px rgba(0,0,0,0.1);
    -o-box-shadow:0 0 6px rgba(0,0,0,0.1);
}
.logoarea {
    padding-bottom: 15px;
}
.headerContainer h1 {
 font-family:$SiteNameFontFamily['Raleway', Verdana, Geneva, sans-serif];
 font-size:$SiteNameFontSize[34px];
 color:$SiteNameTextColor[#ecc012];
    padding-bottom: 5px;
}
.headerContainer h5 {
  font-family:$CaptionFontFamily['PT Sans', Verdana, Geneva, sans-serif];
 font-size:$CaptionFontSize[13px];
 color:$CaptionTextColor[#626262];
 font-weight:400;
}
/*---------------------------------- MENU AREA -----------------------------------------*/
.menuarea {
    width: 100%;
    margin: 0 auto;
    padding:20px 0;
    background:#ffffff;
}
#navigation ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 95%;
    background-color:$NavigationBGColor[#363636];
 background-image:$NavigationBGImage[ url(images/navBg.png)];
 background-repeat:$NavigationBGRepeat[repeat-x];
 background-position:$NavigationBGPosition[left top];
 border-bottom:2px solid #f05959;
 height:58px;
}
#navigation li {
    display: block;
    float: left;
    padding: 0;
    margin:0;
    height:58px;
    cursor: pointer;
    width: 33%;
}
#navigation li a {
 font-family:$NavigationFontFamily['PT Sans', Verdana, Geneva, sans-serif];
 color:$NavigationAColor[#ffffff];
 font-size:$NavigationFontSize[15px];
 text-transform:capitalize;
    text-decoration: none;
    float: left;
    display: block;
    width: 100%;
    height:60px;
    text-shadow:0 1px 0 #000000;
  -webkit-text-shadow:0 1px 0 #000000;
  -moz-text-shadow:0 1px 0 #000000;
  -o-text-shadow:0 1px 0 #000000;
}
#navigation li.selected a{
 background-color:$NavigationBGSelectedColor[transparent];
 background-image:$NavigationBGSelectedImage[none];
 background-repeat:$NavigationBGSelectedRepeat[repeat];
 background-position:$NavigationBGSelectedPosition[left top];
 color:$NavigationAHoverColor[#ecc012];
}
#navigation li a span {
    word-wrap: break-word;
    height:58px;
    display: block;
    line-height:60px;
    margin-right:0px;
    overflow: hidden;
    margin-left: 0;
    text-align:center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#navigation li a em {
    display: block;
    float: right;
    height: 7px;
    width: 11px;
    margin:-28px 10px 0 10px;
}
#navigation li.navArrow a em {
    background: url(images/navArrow.png) no-repeat 0 0;
}
#navigation li.selected.navArrow a em {
    background: url(images/navArrowHover.png) no-repeat 0 0;
}
/*---------------------------------- SUBMENU AREA -----------------------------------------*/
.submenu {
    min-height: 10px;
    height: auto !important;
    height: 10px;
    overflow: hidden;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    margin: 0 auto;
    
}
.submenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color:$SubmenuBGColor[#3d3d3d];
background-image:$SubmenuBGImage[none];
background-position:$SubmenuBGPosition[top left];
background-repeat:$SubmenuBGRepeat[repeat];
 border-width:$SubmenuBorderWidth[0];
border-style:$SubmenuBorderStyle[none];
border-color:$SubmenuBorderColor[ transparent];
 border-radius:$SubmenuBorderRadius[0];
-moz-border-radius:$SubmenuBorderRadius[0];
-webkit-border-radius:$SubmenuBorderRadius[0];
-o-border-radius:$SubmenuBorderRadius[0];
}
.submenu li {
    display: block;
    overflow: hidden;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
.submenu li a {
 color:$SubmenuTextColor[#ffffff];
 font-size:$SubmenuFontSize[14px];
 font-family:$SubmenuFontFamily['PT Sans', Verdana, Geneva, sans-serif];
    text-decoration: none;
    display: block;
    width: 100%;
    line-height:2.5;
    float: left;
    cursor: pointer;
    font-weight:400;
}
.submenu li.selected {
 background-color:$SubmenuBGHoverColor[transparent];
background-image:$SubmenuBGHoverImage[none];
background-position:$SubmenuBGHoverPosition[top left];
background-repeat:$SubmenuBGHoverRepeat[repeat];

}
.submenu li.selected a span{
    color:$SubmenuTextHoverColor[#ecc012];
}
.submenu li a span {
    float: left;
    padding-left: 15px;
    word-wrap: break-word;
    width: 85%
}
.submenu li a em {
    width: 5px;
    float: right;
    height: 9px;
}
.submenu li.navArrow a em {
    background: url(images/subnavArrow.png) left top no-repeat;
    float: right;
    height: 6px;
    width: 10px;
    margin: 15px 5px 0 13px;
}
.submenu li.selected.navArrow a em {
    background: url(images/subnavArrowHover.png) left top no-repeat;
}
/*---------------------------------- CONTENT AREA -----------------------------------------*/
.container {
    background-color:$ContentBGColor[#ffffff];
 background-image:$ContentBGImage[none];
 background-position:$ContentBGPosition[0 0];
 background-repeat:$ContentBGRepeat[repeat];
 background-attachment:$ContentBGAttachment[scroll];
 background-size:$ContentBGSize[auto];
 box-shadow: $ContentBoxOuterShadowXaxis[0px] $ContentBoxOuterShadowYaxis[0px] $ContentBoxOuterShadowBlur[6px] $ContentBoxOuterShadowSpread[0px] $ContentBoxOuterShadowColor[rgba(0,0,0,0.1)], $ContentBoxInnerShadowXaxis[0px] $ContentBoxInnerShadowYaxis[0px] $ContentBoxInnerShadowBlur[0px] $ContentBoxInnerShadowSpread[0px] $ContentBoxInnerShadowColor[transparent] inset;
 -moz-box-shadow: $ContentBoxOuterShadowXaxis[0px] $ContentBoxOuterShadowYaxis[0px] $ContentBoxOuterShadowBlur[6px] $ContentBoxOuterShadowSpread[0px] $ContentBoxOuterShadowColor[rgba(0,0,0,0.1)], $ContentBoxInnerShadowXaxis[0px] $ContentBoxInnerShadowYaxis[0px] $ContentBoxInnerShadowBlur[0px] $ContentBoxInnerShadowSpread[0px] $ContentBoxInnerShadowColor[transparent] inset;
 -o-box-shadow: $ContentBoxOuterShadowXaxis[0px] $ContentBoxOuterShadowYaxis[0px] $ContentBoxOuterShadowBlur[6px] $ContentBoxOuterShadowSpread[0px] $ContentBoxOuterShadowColor[rgba(0,0,0,0.1)], $ContentBoxInnerShadowXaxis[0px] $ContentBoxInnerShadowYaxis[0px] $ContentBoxInnerShadowBlur[0px] $ContentBoxInnerShadowSpread[0px] $ContentBoxInnerShadowColor[transparent] inset;
 -webkit-box-shadow: $ContentBoxOuterShadowXaxis[0px] $ContentBoxOuterShadowYaxis[0px] $ContentBoxOuterShadowBlur[6px] $ContentBoxOuterShadowSpread[0px] $ContentBoxOuterShadowColor[rgba(0,0,0,0.1)], $ContentBoxInnerShadowXaxis[0px] $ContentBoxInnerShadowYaxis[0px] $ContentBoxInnerShadowBlur[0px] $ContentBoxInnerShadowSpread[0px] $ContentBoxInnerShadowColor[transparent] inset;
   border-radius: $ContentBorderRadius[0];
 -moz-border-radius:$ContentBorderRadius[0];
 -webkit-border-radius:$ContentBorderRadius[0];
 -o-border-radius:$ContentBorderRadius[0];
 border-width: $ContentBorderWidth[0];
 border-style:$ContentBorderStyle[none];
 border-color:$ContentBorderColor[transparent];
    margin-top:20px;
    margin:10px;
    padding:15px;
}
.bannerImage {
    margin-bottom:30px;
}
.breadcrumb {
    padding: 5px 0;
    border-bottom: 1px dotted #CBCBCB;
    margin-bottom: 15px;
}
.breadcrumb a {
    text-decoration: none;
}
.breadcrumb span {
    padding: 0 10px;
}
.breadcrumb p {
    word-wrap: break-word
}
.contentArea {
    min-height: 250px;
    height: auto !important;
    height: 250px;
}
/*---------------------------------- Sidebar AREA -----------------------------------------*/
.sidebararea {
font-family:$SidebarFontFamily['PT Sans', Verdana, Geneva, sans-serif];
 font-size:$SidebarFontSize[14px];
 color:$SidebarTextColor[#777777];
background-color:$SidebarBGColor[#ffffff];
 background-image:$SidebarBGImage[none];
 background-position:$SidebarBGPosition[0 0];
 background-repeat:$SidebarBGRepeat[repeat];
 background-attachment:$SidebarBGAttachment[scroll];
 background-size:$SidebarBGSize[auto];
 box-shadow: $SidebarBoxOuterShadowXaxis[0px] $SidebarBoxOuterShadowYaxis[0px] $SidebarBoxOuterShadowBlur[0px] $SidebarBoxOuterShadowSpread[0px] $SidebarBoxOuterShadowColor[transparent], $SidebarBoxInnerShadowXaxis[0px] $SidebarBoxInnerShadowYaxis[0px] $SidebarBoxInnerShadowBlur[0px] $SidebarBoxInnerShadowSpread[0px] $SidebarBoxInnerShadowColor[transparent] inset;
 -webkit-box-shadow: $SidebarBoxOuterShadowXaxis[0px] $SidebarBoxOuterShadowYaxis[0px] $SidebarBoxOuterShadowBlur[0px] $SidebarBoxOuterShadowSpread[0px] $SidebarBoxOuterShadowColor[transparent], $SidebarBoxInnerShadowXaxis[0px] $SidebarBoxInnerShadowYaxis[0px] $SidebarBoxInnerShadowBlur[0px] $SidebarBoxInnerShadowSpread[0px] $SidebarBoxInnerShadowColor[transparent] inset;
 -moz-box-shadow: $SidebarBoxOuterShadowXaxis[0px] $SidebarBoxOuterShadowYaxis[0px] $SidebarBoxOuterShadowBlur[0px] $SidebarBoxOuterShadowSpread[0px] $SidebarBoxOuterShadowColor[transparent], $SidebarBoxInnerShadowXaxis[0px] $SidebarBoxInnerShadowYaxis[0px] $SidebarBoxInnerShadowBlur[0px] $SidebarBoxInnerShadowSpread[0px] $SidebarBoxInnerShadowColor[transparent] inset;
 -o-box-shadow: $SidebarBoxOuterShadowXaxis[0px] $SidebarBoxOuterShadowYaxis[0px] $SidebarBoxOuterShadowBlur[0px] $SidebarBoxOuterShadowSpread[0px] $SidebarBoxOuterShadowColor[transparent], $SidebarBoxInnerShadowXaxis[0px] $SidebarBoxInnerShadowYaxis[0px] $SidebarBoxInnerShadowBlur[0px] $SidebarBoxInnerShadowSpread[0px] $SidebarBoxInnerShadowColor[transparent] inset;
 border-width: $SidebarBorderWidth[0px];
 border-style:$SidebarBorderStyle[none];
 border-color:$SidebarBorderColor[ transparent];
 border-radius: $SidebarBorderRadius[0px];
 -moz-border-radius:$SidebarBorderRadius[0px];
 -webkit-border-radius:$SidebarBorderRadius[0px];
 -o-border-radius:$SidebarBorderRadius[0px];
 margin:10px;
    min-height: 100px;
    height: auto !important;
    height: 100px;
    padding:20px;
}
.sidebararea h1 {
font-family:$SidebarH1FontFamily['Raleway', Verdana, Geneva, sans-serif];
font-size:$SidebarH1FontSize[28px];
color:$SidebarH1TextColor[#ecc012];
}
.sidebararea h2 {
font-family:$SidebarH2FontFamily['Raleway', Verdana, Geneva, sans-serif];
font-size:$SidebarH2FontSize[24px];
color:$SidebarH2TextColor[#ecc012];
}
.sidebararea h3 {
font-family:$SidebarH3FontFamily['Raleway', Verdana, Geneva, sans-serif];
font-size:$SidebarH3FontSize[22px];
color:$SidebarH3TextColor[#ecc012];
}
.sidebararea h4 {
font-family:$SidebarH4FontFamily['Raleway', Verdana, Geneva, sans-serif];
font-size:$SidebarH4FontSize[20px];
color:$SidebarH4TextColor[#ecc012];
}
.sidebararea h5 {
font-family:$SidebarH5FontFamily['Raleway', Verdana, Geneva, sans-serif];
font-size:$SidebarH5FontSize[18px];
color:$SidebarH5TextColor[#ecc012];
}
.sidebararea h6 {
font-family:$SidebarH6FontFamily['Raleway', Verdana, Geneva, sans-serif];
font-size:$SidebarH6FontSize[16px];
color:$SidebarH6TextColor[#ecc012];
}
.sidebararea a {
 color:$SidebarAColor[#ecc012];
 text-decoration:$SidebarATextDecoration[none];
}
.sidebararea a:hover {
 text-decoration:$SidebarAHoverTextDecoration[none];
 color:$SidebarAHoverColor[#ecc012];
}
.sidebararea th {
 font-family:$SidebarTHFontFamily['PT Sans', Verdana, Geneva, sans-serif];
 font-size:$SidebarTHFontSize[14px];
 color:$SidebarTHTextColor[#777777];
 background:$SidebarTHBGColor[#ffffff];
 border-width:$SidebarTHBorderWidth[1px];
 border-style:$SidebarTHBorderStyle[solid];
 border-color:$SidebarTHBorderColor[#e6e5e5];
 padding:$SidebarTHCellSpaceing[10px];
    font-weight: normal;
}
.sidebararea td {
 font-family:$SidebarTDFontFamily['PT Sans', Verdana, Geneva, sans-serif];
 font-size:$SidebarTDFontSize[14px];
 color:$SidebarTDTextColor[#777777];
 background:$SidebarTDBGColor[#f8f8f8];
 border-width:$SidebarTDBorderWidth[1px];
 border-style:$SidebarTDBorderStyle[solid];
 border-color:$SidebarTDBorderColor[#e6e5e5];
 padding:$SidebarTDCellSpaceing[10px];
}
.sidebararea .zs-highlight-box {
 background-color: $SidebarHighlightBoxBGColor[#434343];
 background-image: $SidebarHighlightBoxBGImage[none];
 background-image: $SidebarHighlightBoxBGImage[none], -moz-linear-gradient($SidebarHighlightBoxGradientDirection[top], $SidebarHighlightBoxGradientStartColor[transparent], $SidebarHighlightBoxGradientEndColor[transparent]);
 background-image: $SidebarHighlightBoxBGImage[none], -webkit-linear-gradient($SidebarHighlightBoxGradientDirection[top], $SidebarHighlightBoxGradientStartColor[transparent], $SidebarHighlightBoxGradientEndColor[transparent]);
 background-image: $SidebarHighlightBoxBGImage[none], -o-linear-gradient($SidebarHighlightBoxGradientDirection[top], $SidebarHighlightBoxGradientStartColor[transparent], $SidebarHighlightBoxGradientEndColor[transparent]);
 background-position: $SidebarHighlightBoxBGPosition[top left];
 background-repeat: $SidebarHighlightBoxBGRepeat[no-repeat];
 box-shadow: $SidebarHighlightBoxOuterXaxis[0px] $SidebarHighlightBoxOuterYaxis[0px] $SidebarHighlightBoxOuterBlur[5px] $SidebarHighlightBoxOuterSpread[0px] $SidebarHighlightBoxOuterShadowColor[rgba(0,0,0,0.5)], $SidebarHighlightBoxInnerXaxis[0px] $SidebarHighlightBoxInnerYaxis[0px] $SidebarHighlightBoxInnerBlur[0px] $SidebarHighlightBoxInnerSpread[0] $SidebarHighlightBoxInnerShadowColor[transparent] inset;
 -moz-box-shadow: $SidebarHighlightBoxOuterXaxis[0px] $SidebarHighlightBoxOuterYaxis[0px] $SidebarHighlightBoxOuterBlur[5px] $SidebarHighlightBoxOuterSpread[0px] $SidebarHighlightBoxOuterShadowColor[rgba(0,0,0,0.5)], $SidebarHighlightBoxInnerXaxis[0px] $SidebarHighlightBoxInnerYaxis[0px] $SidebarHighlightBoxInnerBlur[0px] $SidebarHighlightBoxInnerSpread[0] $SidebarHighlightBoxInnerShadowColor[transparent] inset;
 -webkit-box-shadow: $SidebarHighlightBoxOuterXaxis[0px] $SidebarHighlightBoxOuterYaxis[0px] $SidebarHighlightBoxOuterBlur[5px] $SidebarHighlightBoxOuterSpread[0px] $SidebarHighlightBoxOuterShadowColor[rgba(0,0,0,0.5)], $SidebarHighlightBoxInnerXaxis[0px] $SidebarHighlightBoxInnerYaxis[0px] $SidebarHighlightBoxInnerBlur[0px] $SidebarHighlightBoxInnerSpread[0] $SidebarHighlightBoxInnerShadowColor[transparent] inset;
 -o-box-shadow: $SidebarHighlightBoxOuterXaxis[0px] $SidebarHighlightBoxOuterYaxis[0px] $SidebarHighlightBoxOuterBlur[5px] $SidebarHighlightBoxOuterSpread[0px] $SidebarHighlightBoxOuterShadowColor[rgba(0,0,0,0.5)], $SidebarHighlightBoxInnerXaxis[0px] $SidebarHighlightBoxInnerYaxis[0px] $SidebarHighlightBoxInnerBlur[0px] $SidebarHighlightBoxInnerSpread[0] $SidebarHighlightBoxInnerShadowColor[transparent] inset;
 border-width: $SidebarHighlightBoxBorderWidth[0];
 border-style:$SidebarHighlightBoxBorderStyle[none];
 border-color:$SidebarHighlightBoxBorderColor[transparent];
 border-radius: $SidebarHighlightBoxBorderRadius[0];
 -moz-border-radius:$SidebarHighlightBoxBorderRadius[0];
 -webkit-border-radius:$SidebarHighlightBoxBorderRadius[0];
 -o-border-radius:$SidebarHighlightBoxBorderRadius[0];
 padding: $SidebarHighlightBoxInnerSpace[10px];
 margin: $SidebarHighlightBoxOuterSpace[5px];
    min-height: 200px;
font-family:$SidebarHighlightBoxFontFamily['PT Sans', Verdana, Geneva, sans-serif];
 font-size:$SidebarHighlightBoxFontSize[14px];
 color:$SidebarHighlightBoxTextColor[#7A7A7A];
}
.sidebararea .zs-highlight-box h1 {
font-family:$SidebarHighlightBoxH1FontFamily['Raleway', Verdana, Geneva, sans-serif];
font-size:$SidebarHighlightBoxH1FontSize[28px];
color:$SidebarHighlightBoxH1TextColor[#ecc012];
}
.sidebararea .zs-highlight-box h2 {
font-family:$SidebarHighlightBoxH2FontFamily['Raleway', Verdana, Geneva, sans-serif];
font-size:$SidebarHighlightBoxH2FontSize[24px];
color:$SidebarHighlightBoxH2TextColor[#ecc012];
}
.sidebararea .zs-highlight-box h3 {
font-family:$SidebarHighlightBoxH3FontFamily['Raleway', Verdana, Geneva, sans-serif];
font-size:$SidebarHighlightBoxH3FontSize[22px];
color:$SidebarHighlightBoxH3TextColor[#ecc012];
}
.sidebararea .zs-highlight-box h4 {
font-family:$SidebarHighlightBoxH4FontFamily['Raleway', Verdana, Geneva, sans-serif];
font-size:$SidebarHighlightBoxH4FontSize[20px];
color:$SidebarHighlightBoxH4TextColor[#ecc012];
}
.sidebararea .zs-highlight-box h5 {
font-family:$SidebarHighlightBoxH5FontFamily['Raleway', Verdana, Geneva, sans-serif];
font-size:$SidebarHighlightBoxH5FontSize[18px];
color:$SidebarHighlightBoxH5TextColor[#ecc012];
}
.sidebararea .zs-highlight-box h6 {
font-family:$SidebarHighlightBoxH6FontFamily['Raleway', Verdana, Geneva, sans-serif];
font-size:$SidebarHighlightBoxH6FontSize[16px];
color:$SidebarHighlightBoxH6TextColor[#ecc012];
}
.sidebararea .zs-highlight-box a {
 text-decoration:$SidebarHighlightBoxATextDecoration[none];
color:$SidebarHighlightBoxAColor[#ecc012];
}
.sidebararea .zs-highlight-box a:hover {
text-decoration:$SidebarHighlightBoxAHoverTextDecoration[none];
color:$SidebarHighlightBoxAHoverColor[#ecc012];
}
.sidebararea .zs-highlight-box hr {
    border-top-color:#313030;
}
.sidebararea .zs-highlight-box form li span input[type=text], .sidebararea .zs-highlight-box form li span textarea, .sidebararea .zs-highlight-box form li span select {
background: #535353;
border: 1px solid #3F3C3C;
color:$SidebarHighlightBoxTextColor[#7A7A7A];
}
.sidebararea .zs-highlight-box form li input[type=reset] {
background: #353434;
}
.sidebararea .zs-highlight-box th {
 font-family:$SidebarHighlightBoxTHFontFamily['PT Sans', Verdana, Geneva, sans-serif];
 font-size:$SidebarHighlightBoxTHFontSize[14px];
 color:$SidebarHighlightBoxTHTextColor[#6D6D6D];
 background:$SidebarHighlightBoxTHBGColor[#313131];
 border-width:$SidebarHighlightBoxTHBorderWidth[1px];
 border-style:$SidebarHighlightBoxTHBorderStyle[solid];
 border-color:$SidebarHighlightBoxTHBorderColor[#434343];
 padding:$SidebarHighlightBoxTHCellSpaceing[10px];
    font-weight: normal;
}
.sidebararea .zs-highlight-box td {
 font-family:$SidebarHighlightBoxTDFontFamily['PT Sans', Verdana, Geneva, sans-serif];
 font-size:$SidebarHighlightBoxTDFontSize[14px];
 color:$SidebarHighlightBoxTDTextColor[#777777];
 background:$SidebarHighlightBoxTDBGColor[#f8f8f8];
 border-width:$SidebarHighlightBoxTDBorderWidth[1px];
 border-style:$SidebarHighlightBoxTDBorderStyle[solid];
 border-color:$SidebarHighlightBoxTDBorderColor[#e6e5e5];
 padding:$SidebarHighlightBoxTDCellSpaceing[10px];
}
/* ------------------------------------ text highlight CSS ------------------------------------------------*/
.sidebararea .zs-text-light-color {
color:$SidebarTextLightColor[#BFBFBF]
}
.sidebararea .zs-text-highlight-color {
color:$SidebarTextHighlightColor[#ECC012]
}
.sidebararea .zs-highlight-box .zs-text-light-color {
color:$SidebarHighlightBoxTextLightColor[#BFBFBF]
}
.sidebararea .zs-highlight-box .zs-text-highlight-color {
color:$SidebarHighlightBoxTextHighlightColor[#ECC012]
}
/*---------------------------------- FOOTER AREA -----------------------------------------*/
.footerArea {
    background-color:$FooterBGColor[#3b3b3b];
 background-image:$FooterBGImage[none];
 background-position:$FooterBGPosition[0 0];
 background-repeat:$FooterBGRepeat[repeat-X];
 background-attachment:$FooterBGAttachment[scroll];
 background-size:$FooterBGSize[auto];
 box-shadow: $FooterBoxOuterShadowXaxis[0px] $FooterBoxOuterShadowYaxis[0px] $FooterBoxOuterShadowBlur[0px] $FooterBoxOuterShadowSpread[0px] $FooterBoxOuterShadowColor[ transparent], $FooterBoxInnerShadowXaxis[0px] $FooterBoxInnerShadowYaxis[0px] $FooterBoxInnerShadowBlur[0px] $FooterBoxInnerShadowSpread[0px] $FooterBoxInnerShadowColor[transparent] inset;
-moz-box-shadow: $FooterBoxOuterShadowXaxis[0px] $FooterBoxOuterShadowYaxis[0px] $FooterBoxOuterShadowBlur[0px] $FooterBoxOuterShadowSpread[0px] $FooterBoxOuterShadowColor[ transparent], $FooterBoxInnerShadowXaxis[0px] $FooterBoxInnerShadowYaxis[0px] $FooterBoxInnerShadowBlur[0px] $FooterBoxInnerShadowSpread[0px] $FooterBoxInnerShadowColor[transparent] inset;
-webkit-box-shadow: $FooterBoxOuterShadowXaxis[0px] $FooterBoxOuterShadowYaxis[0px] $FooterBoxOuterShadowBlur[0px] $FooterBoxOuterShadowSpread[0px] $FooterBoxOuterShadowColor[ transparent], $FooterBoxInnerShadowXaxis[0px] $FooterBoxInnerShadowYaxis[0px] $FooterBoxInnerShadowBlur[0px] $FooterBoxInnerShadowSpread[0px] $FooterBoxInnerShadowColor[transparent] inset;
-o-box-shadow: $FooterBoxOuterShadowXaxis[0px] $FooterBoxOuterShadowYaxis[0px] $FooterBoxOuterShadowBlur[0px] $FooterBoxOuterShadowSpread[0px] $FooterBoxOuterShadowColor[ transparent], $FooterBoxInnerShadowXaxis[0px] $FooterBoxInnerShadowYaxis[0px] $FooterBoxInnerShadowBlur[0px] $FooterBoxInnerShadowSpread[0px] $FooterBoxInnerShadowColor[transparent] inset;
border-width:$FooterBorderWidth[0];
 border-style:$FooterBorderStyle[none];
 border-color:$FooterBorderColor[transparent];
 border-radius: $FooterBorderRadius[0px];
 -moz-border-radius:$FooterBorderRadius[0px];
 -webkit-border-radius:$FooterBorderRadius[0px];
 -o-border-radius:$FooterBorderRadius[0px];
 font-family:$FooterFontFamily['PT Sans', Verdana, Geneva, sans-serif];
 font-size:$FooterFontSize[14px];
 color:$FooterTextColor[#777777];
    padding:20px;
    min-height: 50px;
    height: auto !important;
    height: 50px;
    margin:0 10px;
}
.footerArea h1 {
font-family:$FooterH1FontFamily['Raleway', Verdana, Geneva, sans-serif];
font-size:$FooterH1FontSize[28px];
color:$FooterH1TextColor[#ecc012];
}
.footerArea h2 {
font-family:$FooterH2FontFamily['Raleway', Verdana, Geneva, sans-serif];
font-size:$FooterH2FontSize[24px];
color:$FooterH2TextColor[#ecc012];
}
.footerArea h3 {
font-family:$FooterH3FontFamily['Raleway', Verdana, Geneva, sans-serif];
font-size:$FooterH3FontSize[22px];
color:$FooterH3TextColor[#ecc012];
}
.footerArea h4 {
font-family:$FooterH4FontFamily['Raleway', Verdana, Geneva, sans-serif];
font-size:$FooterH4FontSize[20px];
color:$FooterH4TextColor[#ecc012];
}
.footerArea h5 {
font-family:$FooterH5FontFamily['Raleway', Verdana, Geneva, sans-serif];
font-size:$FooterH5FontSize[18px];
color:$FooterH5TextColor[#ecc012];
}
.footerArea h6 {
font-family:$FooterH6FontFamily['Raleway', Verdana, Geneva, sans-serif];
font-size:$FooterH6FontSize[16px];
color:$FooterH6TextColor[#ecc012];
}
.footerArea a {
 color:$FooterAColor[#ecc012];
 text-decoration:$FooterATextDecoration[none];
}
.footerArea a:hover {
 text-decoration:$FooterAHoverTextDecoration[none];
 color:$FooterAHoverColor[#ecc012];
}
.footerArea form li span input[type=text], .footerArea form li span textarea, .footerArea form li span select {
    background:#373737;
  border:1px solid #333333;
}
.footerArea form li input[type=reset] {
  background:#2B2B2B;
}
.themeFooterArea th {
 font-family:$FooterTHFontFamily['PT Sans', Verdana, Geneva, sans-serif];
 font-size:$FooterTHFontSize[14px];
 color:$FooterTHTextColor[#777777];
 background:$FooterTHBGColor[#2D2D2D];
 border-width:$FooterTHBorderWidth[1px];
 border-style:$FooterTHBorderStyle[solid];
 border-color:$FooterTHBorderColor[#282828];
 padding:$FooterTHCellSpaceing[10px];
    font-weight: normal;
}
.themeFooterArea td {
 font-family:$FooterTDFontFamily['PT Sans', Verdana, Geneva, sans-serif];
 font-size:$FooterTDFontSize[14px];
 color:$FooterTDTextColor[#777777];
 background:$FooterTDBGColor[transparent];
 border-width:$FooterTDBorderWidth[1px];
 border-style:$FooterTDBorderStyle[solid];
 border-color:$FooterTDBorderColor[#343434];
 padding:$FooterTDCellSpaceing[10px];
}
.footerArea .zs-highlight-box {
 background-color: $FooterHighlightBoxBGColor[#ecc012];
 background-image: $FooterHighlightBoxBGImage[none];
 background-image: $FooterHighlightBoxBGImage[none], -moz-linear-gradient($FooterHighlightBoxGradientDirection[top], $FooterHighlightBoxGradientStartColor[transparent], $FooterHighlightBoxGradientEndColor[transparent]);
 background-image: $FooterHighlightBoxBGImage[none], -webkit-linear-gradient($FooterHighlightBoxGradientDirection[top], $FooterHighlightBoxGradientStartColor[transparent], $FooterHighlightBoxGradientEndColor[transparent]);
 background-image: $FooterHighlightBoxBGImage[none], -o-linear-gradient($FooterHighlightBoxGradientDirection[top], $FooterHighlightBoxGradientStartColor[transparent], $FooterHighlightBoxGradientEndColor[transparent]);
 background-position: $FooterHighlightBoxBGPosition[top left];
 background-repeat: $FooterHighlightBoxBGRepeat[no-repeat];
 box-shadow: $FooterHighlightBoxOuterXaxis[0px] $FooterHighlightBoxOuterYaxis[0px] $FooterHighlightBoxOuterBlur[5px] $FooterHighlightBoxOuterSpread[0px] $FooterHighlightBoxOuterShadowColor[rgba(0,0,0,0.5)], $FooterHighlightBoxInnerXaxis[0px] $FooterHighlightBoxInnerYaxis[0px] $FooterHighlightBoxInnerBlur[0px] $FooterHighlightBoxInnerSpread[0] $FooterHighlightBoxInnerShadowColor[transparent] inset;
 -moz-box-shadow: $FooterHighlightBoxOuterXaxis[0px] $FooterHighlightBoxOuterYaxis[0px] $FooterHighlightBoxOuterBlur[5px] $FooterHighlightBoxOuterSpread[0px] $FooterHighlightBoxOuterShadowColor[rgba(0,0,0,0.5)], $FooterHighlightBoxInnerXaxis[0px] $FooterHighlightBoxInnerYaxis[0px] $FooterHighlightBoxInnerBlur[0px] $FooterHighlightBoxInnerSpread[0] $FooterHighlightBoxInnerShadowColor[transparent] inset;
 -webkit-box-shadow: $FooterHighlightBoxOuterXaxis[0px] $FooterHighlightBoxOuterYaxis[0px] $FooterHighlightBoxOuterBlur[5px] $FooterHighlightBoxOuterSpread[0px] $FooterHighlightBoxOuterShadowColor[rgba(0,0,0,0.5)], $FooterHighlightBoxInnerXaxis[0px] $FooterHighlightBoxInnerYaxis[0px] $FooterHighlightBoxInnerBlur[0px] $FooterHighlightBoxInnerSpread[0] $FooterHighlightBoxInnerShadowColor[transparent] inset;
 -o-box-shadow: $FooterHighlightBoxOuterXaxis[0px] $FooterHighlightBoxOuterYaxis[0px] $FooterHighlightBoxOuterBlur[5px] $FooterHighlightBoxOuterSpread[0px] $FooterHighlightBoxOuterShadowColor[rgba(0,0,0,0.5)], $FooterHighlightBoxInnerXaxis[0px] $FooterHighlightBoxInnerYaxis[0px] $FooterHighlightBoxInnerBlur[0px] $FooterHighlightBoxInnerSpread[0] $FooterHighlightBoxInnerShadowColor[transparent] inset;
 border-width: $FooterHighlightBoxBorderWidth[0];
 border-style:$FooterHighlightBoxBorderStyle[none];
 border-color:$FooterHighlightBoxBorderColor[transparent];
 border-radius: $FooterHighlightBoxBorderRadius[0];
 -moz-border-radius:$FooterHighlightBoxBorderRadius[0];
 -webkit-border-radius:$FooterHighlightBoxBorderRadius[0];
 -o-border-radius:$FooterHighlightBoxBorderRadius[0];
 padding: $FooterHighlightBoxInnerSpace[10px];
 margin: $FooterHighlightBoxOuterSpace[5px];
    min-height: 200px;
font-family:$FooterHighlightBoxFontFamily['PT Sans', Verdana, Geneva, sans-serif];
 font-size:$FooterHighlightBoxFontSize[14px];
 color:$FooterHighlightBoxTextColor[#FFEBA1];
}
.footerArea .zs-highlight-box h1 {
font-family:$FooterHighlightBoxH1FontFamily['Raleway', Verdana, Geneva, sans-serif];
font-size:$FooterHighlightBoxH1FontSize[28px];
color:$FooterHighlightBoxH1TextColor[#FF4242];
}
.footerArea .zs-highlight-box h2 {
font-family:$FooterHighlightBoxH2FontFamily['Raleway', Verdana, Geneva, sans-serif];
font-size:$FooterHighlightBoxH2FontSize[24px];
color:$FooterHighlightBoxH2TextColor[#FF4242];
}
.footerArea .zs-highlight-box h3 {
font-family:$FooterHighlightBoxH3FontFamily['Raleway', Verdana, Geneva, sans-serif];
font-size:$FooterHighlightBoxH3FontSize[22px];
color:$FooterHighlightBoxH3TextColor[#FF4242];
}
.footerArea .zs-highlight-box h4 {
font-family:$FooterHighlightBoxH4FontFamily['Raleway', Verdana, Geneva, sans-serif];
font-size:$FooterHighlightBoxH4FontSize[20px];
color:$FooterHighlightBoxH4TextColor[#FF4242];
}
.footerArea .zs-highlight-box h5 {
font-family:$FooterHighlightBoxH5FontFamily['Raleway', Verdana, Geneva, sans-serif];
font-size:$FooterHighlightBoxH5FontSize[18px];
color:$FooterHighlightBoxH5TextColor[#FF4242];
}
.footerArea .zs-highlight-box h6 {
font-family:$FooterHighlightBoxH6FontFamily['Raleway', Verdana, Geneva, sans-serif];
font-size:$FooterHighlightBoxH6FontSize[16px];
color:$FooterHighlightBoxH6TextColor[#FF4242];
}
.footerArea .zs-highlight-box a {
 text-decoration:$FooterHighlightBoxATextDecoration[none];
color:$FooterHighlightBoxAColor[#FF4242];
}
.footerArea .zs-highlight-box a:hover {
text-decoration:$FooterHighlightBoxAHoverTextDecoration[none];
color:$FooterHighlightBoxAHoverColor[#FF4242];
}
.footerArea .zs-highlight-box hr {
    border-top-color:#FFDC24;
}
.footerArea .zs-highlight-box th {
 font-family:$FooterHighlightBoxTHFontFamily['PT Sans', Verdana, Geneva, sans-serif];
 font-size:$FooterHighlightBoxTHFontSize[14px];
 color:$FooterHighlightBoxTHTextColor[#B93636];
 background:$FooterHighlightBoxTHBGColor[#FFDA47];
 border-width:$FooterHighlightBoxTHBorderWidth[1px];
 border-style:$FooterHighlightBoxTHBorderStyle[solid];
 border-color:$FooterHighlightBoxTHBorderColor[#ecc012];
 padding:$FooterHighlightBoxTHCellSpaceing[10px];
    font-weight: normal;
}
.footerArea .zs-highlight-box td {
 font-family:$FooterHighlightBoxTDFontFamily['PT Sans', Verdana, Geneva, sans-serif];
 font-size:$FooterHighlightBoxTDFontSize[14px];
 color:$FooterHighlightBoxTDTextColor[#777777];
 background:$FooterHighlightBoxTDBGColor[#f8f8f8];
 border-width:$FooterHighlightBoxTDBorderWidth[1px];
 border-style:$FooterHighlightBoxTDBorderStyle[solid];
 border-color:$FooterHighlightBoxTDBorderColor[#CAA40C];
 padding:$FooterHighlightBoxTDCellSpaceing[10px];
}
.footerArea .zs-highlight-box form li span input[type=text], .footerArea .zs-highlight-box form li span textarea, .footerArea .zs-highlight-box form li span select {
    background: #DFB304;
border: 1px solid #F5C91C;
color:$FooterHighlightBoxTextColor[#FFEBA1];
}
/* ------------------------------------ text highlight CSS ------------------------------------------------*/
.footerArea .zs-text-light-color {
color:$FooterTextLightColor[#525252]
}
.footerArea .zs-text-highlight-color {
color:$FooterTextHighlightColor[#ECC012]
}
.footerArea .zs-highlight-box .zs-text-light-color {
color:$FooterHighlightBoxTextLightColor[#525252]
}
.footerArea .zs-highlight-box .zs-text-highlight-color {
color:$FooterHighlightBoxTextHighlightColor[#FF4242]
}
/*-----------------------------------       Form  Container     -----------------------------------------------*/
form ul {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-image: none;
}
form li {
    overflow: hidden;
    padding:5px 0;
    margin: 0;
}
form ul li label, form ul li div {
    width: auto;
    float: none;
    padding:3px 0;
}
form li div span {
    clear: both;
    display:block;
}
form li span input, form li span label {
    float: none;
    width: auto;
    padding: 3px 5px 0;
    margin-top: 10px;
}
form li span input[type=text], form li span textarea, form li span select {
 font-family:$BodyFontFamily['PT Sans', Verdana, Geneva, sans-serif];
 font-size:$BodyFontSize[14px];
 color:$BodyTextColor[#777777];
  width:230px;
  background:#fcfbfb;
  border:1px solid #e7e6e6;
  float:left;
  padding:6px;
  resize: none;
  margin:0px;
}
form li span select {
    width: 237px;
}
form li span textarea {
    height: 80px;
    overflow: auto;
}
form .dateinvoker {
    background: url(images/datePickerIcn.png) 0 0 no-repeat;
    width: 22px;
    height: 20px;
    border: none;
    vertical-align: middle;
    margin-top: 10px;
    outline: none;
    padding:0;
    border-radius:0;
 -webkit-border-radius:0;
 -moz-border-radius:0;
 -o-border-radius:0;
}
form li input[type=submit], form li input[type=reset], button {
font-family:$BodyFontFamily['PT Sans', Verdana, Geneva, sans-serif];
  font-size:14px;
  color:#000000;
  border:0 solid;
  background:#FFD738;
  padding:5px 30px;
  margin-right:10px;
  font-weight:400;
  cursor:pointer;
 #padding:3px 5px;
 border-radius:4px;
 -webkit-border-radius:4px;
 -moz-border-radius:4px;
 -o-border-radius:4px;
}
form li input[type=reset] {
  background:#3e3e3e;
  color:#ffffff;
}

/* -------------------------------- THEME HIGLIGHT BOX AREA CSS -------------------------------- */
.zs-highlight-box {
background-color: $BodyHighlightBoxBGColor[#f05959];
 background-image: $BodyHighlightBoxBGImage[none];
 background-image: $BodyHighlightBoxBGImage[none], -moz-linear-gradient($BodyHighlightBoxGradientDirection[top], $BodyHighlightBoxGradientStartColor[transparent], $BodyHighlightBoxGradientEndColor[transparent]);
 background-image: $BodyHighlightBoxBGImage[none], -webkit-linear-gradient($BodyHighlightBoxGradientDirection[top], $BodyHighlightBoxGradientStartColor[transparent], $BodyHighlightBoxGradientEndColor[transparent]);
 background-image: $BodyHighlightBoxBGImage[none], -o-linear-gradient($BodyHighlightBoxGradientDirection[top], $BodyHighlightBoxGradientStartColor[transparent], $BodyHighlightBoxGradientEndColor[transparent]);
 background-position: $BodyHighlightBoxBGPosition[top left];
 background-repeat: $BodyHighlightBoxBGRepeat[no-repeat];
 box-shadow: $BodyHighlightBoxOuterXaxis[0px] $BodyHighlightBoxOuterYaxis[0px] $BodyHighlightBoxOuterBlur[5px] $BodyHighlightBoxOuterSpread[0px] $BodyHighlightBoxOuterShadowColor[rgba(0,0,0,0.5)], $BodyHighlightBoxInnerXaxis[0px] $BodyHighlightBoxInnerYaxis[0px] $BodyHighlightBoxInnerBlur[0px] $BodyHighlightBoxInnerSpread[0] $BodyHighlightBoxInnerShadowColor[transparent] inset;
 -moz-box-shadow: $BodyHighlightBoxOuterXaxis[0px] $BodyHighlightBoxOuterYaxis[0px] $BodyHighlightBoxOuterBlur[5px] $BodyHighlightBoxOuterSpread[0px] $BodyHighlightBoxOuterShadowColor[rgba(0,0,0,0.5)], $BodyHighlightBoxInnerXaxis[0px] $BodyHighlightBoxInnerYaxis[0px] $BodyHighlightBoxInnerBlur[0px] $BodyHighlightBoxInnerSpread[0] $BodyHighlightBoxInnerShadowColor[transparent] inset;
 -webkit-box-shadow: $BodyHighlightBoxOuterXaxis[0px] $BodyHighlightBoxOuterYaxis[0px] $BodyHighlightBoxOuterBlur[5px] $BodyHighlightBoxOuterSpread[0px] $BodyHighlightBoxOuterShadowColor[rgba(0,0,0,0.5)], $BodyHighlightBoxInnerXaxis[0px] $BodyHighlightBoxInnerYaxis[0px] $BodyHighlightBoxInnerBlur[0px] $BodyHighlightBoxInnerSpread[0] $BodyHighlightBoxInnerShadowColor[transparent] inset;
 -o-box-shadow: $BodyHighlightBoxOuterXaxis[0px] $BodyHighlightBoxOuterYaxis[0px] $BodyHighlightBoxOuterBlur[5px] $BodyHighlightBoxOuterSpread[0px] $BodyHighlightBoxOuterShadowColor[rgba(0,0,0,0.5)], $BodyHighlightBoxInnerXaxis[0px] $BodyHighlightBoxInnerYaxis[0px] $BodyHighlightBoxInnerBlur[0px] $BodyHighlightBoxInnerSpread[0] $BodyHighlightBoxInnerShadowColor[transparent] inset;
 border-width: $BodyHighlightBoxBorderWidth[0];
 border-style:$BodyHighlightBoxBorderStyle[none];
 border-color:$BodyHighlightBoxBorderColor[transparent];
 border-radius: $BodyHighlightBoxBorderRadius[0];
 -moz-border-radius:$BodyHighlightBoxBorderRadius[0];
 -webkit-border-radius:$BodyHighlightBoxBorderRadius[0];
 -o-border-radius:$BodyHighlightBoxBorderRadius[0];
 padding: $BodyHighlightBoxInnerSpace[10px];
 margin: $BodyHighlightBoxOuterSpace[5px];
    min-height: 200px;
font-family:$BodyHighlightBoxFontFamily['PT Sans', Verdana, Geneva, sans-serif];
 font-size:$BodyHighlightBoxFontSize[14px];
 color:$BodyHighlightBoxTextColor[#FFC2C2];
}
.zs-highlight-box h1 {
font-family:$BodyHighlightBoxH1FontFamily['Raleway', Verdana, Geneva, sans-serif];
font-size:$BodyHighlightBoxH1FontSize[28px];
color:$BodyHighlightBoxH1TextColor[#FFF0B5];
}
.zs-highlight-box h2 {
font-family:$BodyHighlightBoxH2FontFamily['Raleway', Verdana, Geneva, sans-serif];
font-size:$BodyHighlightBoxH2FontSize[24px];
color:$BodyHighlightBoxH2TextColor[#FFF0B5];
}
.zs-highlight-box h3 {
font-family:$BodyHighlightBoxH3FontFamily['Raleway', Verdana, Geneva, sans-serif];
font-size:$BodyHighlightBoxH3FontSize[22px];
color:$BodyHighlightBoxH3TextColor[#FFF0B5];
}
.zs-highlight-box h4 {
font-family:$BodyHighlightBoxH4FontFamily['Raleway', Verdana, Geneva, sans-serif];
font-size:$BodyHighlightBoxH4FontSize[20px];
color:$BodyHighlightBoxH4TextColor[#FFF0B5];
}
.zs-highlight-box h5 {
font-family:$BodyHighlightBoxH5FontFamily['Raleway', Verdana, Geneva, sans-serif];
font-size:$BodyHighlightBoxH5FontSize[18px];
color:$BodyHighlightBoxH5TextColor[#FFF0B5];
}
.zs-highlight-box h6 {
font-family:$BodyHighlightBoxH6FontFamily['Raleway', Verdana, Geneva, sans-serif];
font-size:$BodyHighlightBoxH6FontSize[16px];
color:$BodyHighlightBoxH6TextColor[#FFF0B5];
}
.zs-highlight-box a {
 text-decoration:$BodyHighlightBoxATextDecoration[none];
color:$BodyHighlightBoxAColor[#FFF0B5];
}
.zs-highlight-box a:hover {
text-decoration:$BodyHighlightBoxAHoverTextDecoration[none];
color:$BodyHighlightBoxAHoverColor[#FFF0B5];
}
.zs-highlight-box hr {
    border-top:1px solid #CA4C4C;
}
.zs-highlight-box th {
 font-family:$BodyHighlightBoxTHFontFamily['PT Sans', Verdana, Geneva, sans-serif];
 font-size:$BodyHighlightBoxTHFontSize[14px];
 color:$BodyHighlightBoxTHTextColor[#B93636];
 background:$BodyHighlightBoxTHBGColor[#FF8383];
 border-width:$BodyHighlightBoxTHBorderWidth[1px];
 border-style:$BodyHighlightBoxTHBorderStyle[solid];
 border-color:$BodyHighlightBoxTHBorderColor[#f05959];
 padding:$BodyHighlightBoxTHCellSpaceing[10px];
    font-weight: normal;
}
.zs-highlight-box td {
 font-family:$BodyHighlightBoxTDFontFamily['PT Sans', Verdana, Geneva, sans-serif];
 font-size:$BodyHighlightBoxTDFontSize[14px];
 color:$BodyHighlightBoxTDTextColor[#777777];
 background:$BodyHighlightBoxTDBGColor[#f8f8f8];
 border-width:$BodyHighlightBoxTDBorderWidth[1px];
 border-style:$BodyHighlightBoxTDBorderStyle[solid];
 border-color:$BodyHighlightBoxTDBorderColor[#e6e5e5];
 padding:$BodyHighlightBoxTDCellSpaceing[10px];
}
.zs-highlight-box form li span input[type=text], .zs-highlight-box form li span textarea, .zs-highlight-box form li span select {
    background: #FF6C6C;
border: 1px solid #EC5252;
color:$BodyHighlightBoxTextColor[#FFC2C2];
}
/* ------------------------------------ text highlight CSS ------------------------------------------------*/
.zs-text-light-color {
color:$BodyTextLightColor[#BFBFBF]
}
.zs-text-highlight-color {
color:$BodyTextHighlightColor[#ECC012]
}
.zs-highlight-box .zs-text-light-color {
color:$BodyHighlightBoxTextLightColor[#BFBFBF]
}
.zs-highlight-box .zs-text-highlight-color {
color:$BodyHighlightBoxTextHighlightColor[#FFF0B5]
}
/***************************** START: SOCIAL ICONS SPRITE *****************************/
.themeSocialIconContainer {
margin: 10px 0;
text-align: center;
}
.zs-socialicon-email,.zs-socialicon-facebook,.zs-socialicon-flickr,.zs-socialicon-googleplus,.zs-socialicon-linkedin,.zs-socialicon-pinterest,.zs-socialicon-rss,.zs-socialicon-twitter,.zs-socialicon-youtube {
    background:url('images/zs-socialicon-sprite.png') no-repeat top left; width:30px; height:30px; display: inline-block;
margin:3px 3px 0;
}
.zs-socialicon-email {
    background-position:0 -0px;
}
.zs-socialicon-facebook {
    background-position:0 -30px;
}
.zs-socialicon-flickr {
    background-position:0 -60px;
}
.zs-socialicon-googleplus {
    background-position:0 -90px;
}
.zs-socialicon-linkedin {
    background-position:0 -120px;
}
.zs-socialicon-pinterest {
    background-position:0 -150px;
}
.zs-socialicon-rss {
    background-position:0 -180px;
}
.zs-socialicon-twitter {
    background-position:0 -210px;
}
.zs-socialicon-youtube {
    background-position:0 -240px;
}
/*****************************   END: SOCIAL ICONS SPRITE *****************************/
​
