
@-zs-include webfonts(PT Sans/Raleway);

body, h1, h2, h3, h4, h5, h6, p, ol, ul, li {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
body {
 background-attachment:scroll;
 background-color:#f3f3f3;
 background-image:none;
 background-position:0 0;
 background-repeat:repeat;
 background-size:auto;
 font-family:'PT Sans', Verdana, Geneva, sans-serif;
 font-size:14px;
 color:#777777;
}
h1 {
font-family:'Raleway', Verdana, Geneva, sans-serif;
font-size:28px;
color:#ecc012;
}
h2 {
font-family:'Raleway', Verdana, Geneva, sans-serif;
font-size:24px;
color:#ecc012;
}
h3 {
font-family:'Raleway', Verdana, Geneva, sans-serif;
font-size:22px;
color:#ecc012;
}
h4 {
font-family:'Raleway', Verdana, Geneva, sans-serif;
font-size:20px;
color:#ecc012;
}
h5 {
font-family:'Raleway', Verdana, Geneva, sans-serif;
font-size:18px;
color:#ecc012;
}
h6 {
font-family:'Raleway', Verdana, Geneva, sans-serif;
font-size:16px;
color:#ecc012;
}
a {
 color:#ecc012;
 text-decoration:none;
}
a:hover {
 text-decoration:none;
 color:#ecc012;
}
p {
    line-height: 1.6;
}
a img {
    border: 0 solid
}
:focus {
    outline: none;
}
ul, ol {
    padding: 0 0 0 25px;
}
ol {
    padding: 0 0 0 25px;
}
li {
    padding: 5px 0;
}
hr {
    border: 0;
    border-top: 1px dashed #e6e5e5;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
th {
 font-family:'PT Sans', Verdana, Geneva, sans-serif;
 font-size:14px;
 color:#777777;
 background:#ffffff;
 border-width:1px;
 border-style:solid;
 border-color:#e6e5e5;
 padding:10px;
    font-weight: normal;
}
td {
 font-family:'PT Sans', Verdana, Geneva, sans-serif;
 font-size:14px;
 color:#777777;
 background:#f8f8f8;
 border-width:1px;
 border-style:solid;
 border-color:#e6e5e5;
 padding:10px;
}

.floatLeft {
    float: left;
}
.floatRight {
    float: right;
}
.clearDiv {
    clear: both;
}
.themeWidth {
    width: 1000px;
    margin: 0 auto;
}

.themeSocialIconAndSearchBoxContainer {
    height: 80px;
}

.themeSearchContainer {
    margin: 25px 0 0 0;
    float: right;
}
.themeSearchBox {
    width: 200px;
    height: 26px;
    position: relative;
}
.themeSearchBox input[type=text] {
    background: #ffffff;
    padding: 0 5px;
    height: 26px;
    outline: none;
    width: 155px;
    font-family: 'PT Sans', Verdana, Geneva, sans-serif;
    font-size: 14px;
    color: #777777;
    line-height: 26px;
    border: 1px solid #e7e7e7;
}
.themeSearchBox input[type=submit] {
    width: 28px;
    height: 26px;
    background: url(images/searchicon.png) center center no-repeat #ecc012;
    border: 0 solid;
    cursor: pointer;
    padding: 0;
    position: absolute;
    top: 0px;
    right: 0px;
}

.themeContentContainer {
    padding: 30px;
 background-color:#ffffff;
 background-image:none;
 background-position:0 0;
 background-repeat:repeat;
 background-attachment:scroll;
 background-size:auto;
 box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.1), 0px 0px 0px 0px transparent inset;
 -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.1), 0px 0px 0px 0px transparent inset;
 -o-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.1), 0px 0px 0px 0px transparent inset;
 -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.1), 0px 0px 0px 0px transparent inset;
 border-radius: 0;
 -moz-border-radius:0;
 -webkit-border-radius:0;
 -o-border-radius:0;
 border-width: 0;
 border-style:none;
 border-color:transparent;
}
.themeBrandingArea {
    padding-bottom: 15px;
}
.themeBrandingContainer {
    display: table;
    border: 0 solid;
    width: 100%;
}
.tableRow {
    display: table-row;
}
.tableCell {
    display: table-cell
}
.themeLogoOuterContainer {
    width: 1%;
}
.themeLogoArea {
    padding-right: 15px;
}
.themeSitenameCaptionOuterContainer {
    vertical-align:middle;
    height: 100%
}
.themeSitenameCaptionInnerContainer {
    height: 100%;
    vertical-align:middle;
}
.themeSitenameCaptionContainer {
    vertical-align: middle;
    height: 100%;
}
.themeSitename {
    white-space: nowrap;
    font-family:'Raleway', Verdana, Geneva, sans-serif;
 font-size:34px;
 color:#ecc012;
}
.themeCaption {
    white-space: nowrap;
    font-family:'PT Sans', Verdana, Geneva, sans-serif;
 font-size:13px;
 color:#626262;
}

.themeNavigationContainer {
 background-color:#363636;
 background-image: url(images/navBg.png);
 background-repeat:repeat-x;
 background-position:left top;
    border-bottom: 2px solid #f05959;
    height: 58px;
}
#navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#navigation li {
    float: left;
    margin: 0;
    padding: 0;
}
#navigation li a {
 font-family:'PT Sans', Verdana, Geneva, sans-serif;
 color:#ffffff;
 font-size:15px;
    text-transform: capitalize;
    float: left;
    padding: 0 25px;
    text-decoration: none;
    cursor: pointer;
    line-height: 4;
    display: block;
    text-shadow: 0 1px 0 #000000;
    -webkit-text-shadow: 0 1px 0 #000000;
    -moz-text-shadow: 0 1px 0 #000000;
    -o-text-shadow: 0 1px 0 #000000;
}
#navigation li.selected {
 background-color:transparent;
 background-image:none;
 background-repeat:repeat;
 background-position:left top;
}
#navigation li.selected a, #navigation li:hover a, #navigation li.active a {
 color:#ecc012;
}
#navigation li a span {
    float: left;
}
#navigation li.navArrow a em, #navigation li:hover.navArrow a em, #navigation li.active.navArrow a em, #navigation li.selected.navArrow a em {
    background: transparent url(images/navArrow.png) no-repeat scroll 0 0;
    display: block;
    float: left;
    height: 8px;
    width: 7px;
    margin: 30px 0 0 10px;
}
#navigation li:hover.navArrow a em, #navigation li.active.navArrow a em, #navigation li.selected.navArrow a em {
    background: url(images/navArrowHover.png) no-repeat scroll 0 0;
}

.submenu {
    width: 200px;
    position: absolute;
    display: block;
    overflow: hidden;
 background-color:#3d3d3d;
background-image:none;
background-position:top left;
background-repeat:repeat;
 border-width:0;
border-style:none;
border-color: transparent;
 border-radius:0;
-moz-border-radius:0;
-webkit-border-radius:0;
-o-border-radius:0;
-webkit-transition:height 0.5s cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
-moz-transition:height 0.5s cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
-o-transition:height 0.5s cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
-ms-transition:height 0.5s cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
transition:height 0.5s cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
}
.submenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1px;
    line-height: 0;
}
.submenu li {
    display: block;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
.submenu li a {
 color:#ffffff;
 font-size:14px;
 font-family:'PT Sans', Verdana, Geneva, sans-serif;
    text-decoration: none;
    display: block;
    width: 100%;
    line-height: 1.7;
    padding: 5px 0;
    float: left;
    cursor: pointer;
}
.submenu li a:hover {
 color:#ecc012;
 background-color:transparent;
background-image:none;
background-position:top left;
background-repeat:repeat;
}
.submenu li a span {
    width: 165px;
    float: left;
    padding-left: 10px;
    word-wrap: break-word;
}
.submenu li.navArrow a em, .submenu li:hover.navArrow a em {
    background: url(images/subnavArrow.png) left top no-repeat;
    float: left;
    height: 10px;
    width: 10px;
    margin-top: 10px;
    margin-left: 9px;
}
.submenu li:hover.navArrow a em {
    background: url(images/subnavArrowHover.png) left top no-repeat;
}

.themeBreadcrumb {
    padding: 25px 0;
}
.themeBreadcrumb span {
    padding: 0 10px;
}
.themeBreadcrumb p {
    word-wrap: break-word;
}

.themeContentArea {
    padding: 30px 0;
    width:70%;
    min-height: 400px;
    height: auto !important;
    height: 400px;
}

.themeSidebarArea {
    width: 30%;
}
.themeSidebarAreaInner {
    font-family:'PT Sans', Verdana, Geneva, sans-serif;
 font-size:14px;
 color:#777777;
background-color: transparent;
 background-image:none;
 background-position:0 0;
 background-repeat:repeat;
 background-attachment:scroll;
 background-size:auto;
 box-shadow: 0px 0px 0px 0px transparent, 0px 0px 0px 0px transparent inset;
 -webkit-box-shadow: 0px 0px 0px 0px transparent, 0px 0px 0px 0px transparent inset;
 -moz-box-shadow: 0px 0px 0px 0px transparent, 0px 0px 0px 0px transparent inset;
 -o-box-shadow: 0px 0px 0px 0px transparent, 0px 0px 0px 0px transparent inset;
 border-width: 0px;
 border-style:none;
 border-color: transparent;
 border-radius: 0px;
 -moz-border-radius:0px;
 -webkit-border-radius:0px;
 -o-border-radius:0px;
    min-height: 300px;
    height: auto !important;
    height: 300px;
    margin-left: 30px;
    padding: 30px 0;
}
.themeSidebarAreaInner h1 {
font-family:'Raleway', Verdana, Geneva, sans-serif;
font-size:28px;
color:#ecc012;
}
.themeSidebarAreaInner h2 {
font-family:'Raleway', Verdana, Geneva, sans-serif;
font-size:24px;
color:#ecc012;
}
.themeSidebarAreaInner h3 {
font-family:'Raleway', Verdana, Geneva, sans-serif;
font-size:22px;
color:#ecc012;
}
.themeSidebarAreaInner h4 {
font-family:'Raleway', Verdana, Geneva, sans-serif;
font-size:20px;
color:#ecc012;
}
.themeSidebarAreaInner h5 {
font-family:'Raleway', Verdana, Geneva, sans-serif;
font-size:18px;
color:#ecc012;
}
.themeSidebarAreaInner h6 {
font-family:'Raleway', Verdana, Geneva, sans-serif;
font-size:16px;
color:#ecc012;
}
.themeSidebarAreaInner a {
 color:#ecc012;
 text-decoration:none;
}
.themeSidebarAreaInner a:hover {
 text-decoration:none;
 color:#ecc012;
}
.themeSidebarAreaInner form li span input[type=text], .themeSidebarAreaInner form li span textarea {
    width: 200px;
}
.themeSidebarAreaInner form li span select {
    width: 213px;
}
.themeSidebarAreaInner form ul li label, .themeSidebarAreaInner form ul li div {
    width: auto;
    float: none;
    padding: 5px 0;
}
.themeSidebarAreaInner th {
 font-family:'PT Sans', Verdana, Geneva, sans-serif;
 font-size:14px;
 color:#777777;
 background:#ffffff;
 border-width:1px;
 border-style:solid;
 border-color:#e6e5e5;
 padding:10px;
    font-weight: normal;
}
.themeSidebarAreaInner td {
 font-family:'PT Sans', Verdana, Geneva, sans-serif;
 font-size:14px;
 color:#777777;
 background:#f8f8f8;
 border-width:1px;
 border-style:solid;
 border-color:#e6e5e5;
 padding:10px;
}
.themeSidebarAreaInner .zs-highlight-box {
 background-color: #434343;
 background-image: none;
 background-image: none, -moz-linear-gradient(top, transparent, transparent);
 background-image: none, -webkit-linear-gradient(top, transparent, transparent);
 background-image: none, -o-linear-gradient(top, transparent, transparent);
 background-position: top left;
 background-repeat: no-repeat;
 box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5), 0px 0px 0px 0 transparent inset;
 -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5), 0px 0px 0px 0 transparent inset;
 -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5), 0px 0px 0px 0 transparent inset;
 -o-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5), 0px 0px 0px 0 transparent inset;
 border-width: 0;
 border-style:none;
 border-color:transparent;
 border-radius: 0;
 -moz-border-radius:0;
 -webkit-border-radius:0;
 -o-border-radius:0;
 padding: 10px;
 margin: 5px;
    min-height: 200px;
font-family:'PT Sans', Verdana, Geneva, sans-serif;
 font-size:14px;
 color:#7A7A7A;
}
.themeSidebarAreaInner .zs-highlight-box h1 {
font-family:'Raleway', Verdana, Geneva, sans-serif;
font-size:28px;
color:#ecc012;
}
.themeSidebarAreaInner .zs-highlight-box h2 {
font-family:'Raleway', Verdana, Geneva, sans-serif;
font-size:24px;
color:#ecc012;
}
.themeSidebarAreaInner .zs-highlight-box h3 {
font-family:'Raleway', Verdana, Geneva, sans-serif;
font-size:22px;
color:#ecc012;
}
.themeSidebarAreaInner .zs-highlight-box h4 {
font-family:'Raleway', Verdana, Geneva, sans-serif;
font-size:20px;
color:#ecc012;
}
.themeSidebarAreaInner .zs-highlight-box h5 {
font-family:'Raleway', Verdana, Geneva, sans-serif;
font-size:18px;
color:#ecc012;
}
.themeSidebarAreaInner .zs-highlight-box h6 {
font-family:'Raleway', Verdana, Geneva, sans-serif;
font-size:16px;
color:#ecc012;
}
.themeSidebarAreaInner .zs-highlight-box a {
 text-decoration:none;
color:#ecc012;
}
.themeSidebarAreaInner .zs-highlight-box a:hover {
text-decoration:none;
color:#ecc012;
}
.themeSidebarAreaInner .zs-highlight-box hr {
    border-top-color:#313030;
}
.themeSidebarAreaInner .zs-highlight-box form li span input[type=text], .themeSidebarAreaInner .zs-highlight-box form li span textarea, .themeSidebarAreaInner .zs-highlight-box form li span select {
width:170px;
background: #535353;
border: 1px solid #3F3C3C;
color:#7A7A7A;
}
.themeSidebarAreaInner .zs-highlight-box form li span select {
    width:183px;
}
.themeSidebarAreaInner .zs-highlight-box form li input[type=reset] {
background: #353434;
}
.themeSidebarAreaInner .zs-highlight-box th {
 font-family:'PT Sans', Verdana, Geneva, sans-serif;
 font-size:14px;
 color:#6D6D6D;
 background:#313131;
 border-width:1px;
 border-style:solid;
 border-color:#434343;
 padding:10px;
    font-weight: normal;
}
.themeSidebarAreaInner .zs-highlight-box td {
 font-family:'PT Sans', Verdana, Geneva, sans-serif;
 font-size:14px;
 color:#777777;
 background:#f8f8f8;
 border-width:1px;
 border-style:solid;
 border-color:#e6e5e5;
 padding:10px;
}

.themeSidebarAreaInner .zs-text-light-color {
color:#BFBFBF
}
.themeSidebarAreaInner .zs-text-highlight-color {
color:#ECC012
}
.themeSidebarAreaInner .zs-highlight-box .zs-text-light-color {
color:#BFBFBF
}
.themeSidebarAreaInner .zs-highlight-box .zs-text-highlight-color {
color:#ECC012
}

.themeFooterArea {
background-color:#3b3b3b;
 background-image:none;
 background-position:0 0;
 background-repeat:repeat-X;
 background-attachment:scroll;
 background-size:auto;
 box-shadow: 0px 0px 0px 0px  transparent, 0px 0px 0px 0px transparent inset;
-moz-box-shadow: 0px 0px 0px 0px  transparent, 0px 0px 0px 0px transparent inset;
-webkit-box-shadow: 0px 0px 0px 0px  transparent, 0px 0px 0px 0px transparent inset;
-o-box-shadow: 0px 0px 0px 0px  transparent, 0px 0px 0px 0px transparent inset;
border-width:0;
 border-style:none;
 border-color:transparent;
 border-radius: 0px;
 -moz-border-radius:0px;
 -webkit-border-radius:0px;
 -o-border-radius:0px;
 font-family:'PT Sans', Verdana, Geneva, sans-serif;
 font-size:14px;
 color:#777777;
    min-height: 200px;
    height: auto !important;
    height: 200px;
    padding: 30px;
    margin: 0 -30px -30px;
}
.themeFooterArea h1 {
font-family:'Raleway', Verdana, Geneva, sans-serif;
font-size:28px;
color:#ecc012;
}
.themeFooterArea h2 {
font-family:'Raleway', Verdana, Geneva, sans-serif;
font-size:24px;
color:#ecc012;
}
.themeFooterArea h3 {
font-family:'Raleway', Verdana, Geneva, sans-serif;
font-size:22px;
color:#ecc012;
}
.themeFooterArea h4 {
font-family:'Raleway', Verdana, Geneva, sans-serif;
font-size:20px;
color:#ecc012;
}
.themeFooterArea h5 {
font-family:'Raleway', Verdana, Geneva, sans-serif;
font-size:18px;
color:#ecc012;
}
.themeFooterArea h6 {
font-family:'Raleway', Verdana, Geneva, sans-serif;
font-size:16px;
color:#ecc012;
}
.themeFooterArea a {
 color:#ecc012;
 text-decoration:none;
}
.themeFooterArea a:hover {
 text-decoration:none;
 color:#ecc012;
}
.themeFooterArea form li span input[type=text], .themeFooterArea form li span textarea, .themeFooterArea form li span select {
    background: #373737;
    border: 1px solid #333333;
}
.themeFooterArea form li input[type=reset] {
    background: #2B2B2B;
}
.themeFooterArea th {
 font-family:'PT Sans', Verdana, Geneva, sans-serif;
 font-size:14px;
 color:#777777;
 background:#2D2D2D;
 border-width:1px;
 border-style:solid;
 border-color:#282828;
 padding:10px;
    font-weight: normal;
}
.themeFooterArea td {
 font-family:'PT Sans', Verdana, Geneva, sans-serif;
 font-size:14px;
 color:#777777;
 background:transparent;
 border-width:1px;
 border-style:solid;
 border-color:#343434;
 padding:10px;
}
.themeFooterArea .zs-highlight-box {
 background-color: #ecc012;
 background-image: none;
 background-image: none, -moz-linear-gradient(top, transparent, transparent);
 background-image: none, -webkit-linear-gradient(top, transparent, transparent);
 background-image: none, -o-linear-gradient(top, transparent, transparent);
 background-position: top left;
 background-repeat: no-repeat;
 box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5), 0px 0px 0px 0 transparent inset;
 -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5), 0px 0px 0px 0 transparent inset;
 -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5), 0px 0px 0px 0 transparent inset;
 -o-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5), 0px 0px 0px 0 transparent inset;
 border-width: 0;
 border-style:none;
 border-color:transparent;
 border-radius: 0;
 -moz-border-radius:0;
 -webkit-border-radius:0;
 -o-border-radius:0;
 padding: 10px;
 margin: 5px;
    min-height: 200px;
font-family:'PT Sans', Verdana, Geneva, sans-serif;
 font-size:14px;
 color:#FFEBA1;
}
.themeFooterArea .zs-highlight-box h1 {
font-family:'Raleway', Verdana, Geneva, sans-serif;
font-size:28px;
color:#FF4242;
}
.themeFooterArea .zs-highlight-box h2 {
font-family:'Raleway', Verdana, Geneva, sans-serif;
font-size:24px;
color:#FF4242;
}
.themeFooterArea .zs-highlight-box h3 {
font-family:'Raleway', Verdana, Geneva, sans-serif;
font-size:22px;
color:#FF4242;
}
.themeFooterArea .zs-highlight-box h4 {
font-family:'Raleway', Verdana, Geneva, sans-serif;
font-size:20px;
color:#FF4242;
}
.themeFooterArea .zs-highlight-box h5 {
font-family:'Raleway', Verdana, Geneva, sans-serif;
font-size:18px;
color:#FF4242;
}
.themeFooterArea .zs-highlight-box h6 {
font-family:'Raleway', Verdana, Geneva, sans-serif;
font-size:16px;
color:#FF4242;
}
.themeFooterArea .zs-highlight-box a {
 text-decoration:none;
color:#FF4242;
}
.themeFooterArea .zs-highlight-box a:hover {
text-decoration:none;
color:#FF4242;
}
.themeFooterArea .zs-highlight-box hr {
    border-top-color:#FFDC24;
}
.themeFooterArea .zs-highlight-box th {
 font-family:'PT Sans', Verdana, Geneva, sans-serif;
 font-size:14px;
 color:#B93636;
 background:#FFDA47;
 border-width:1px;
 border-style:solid;
 border-color:#ecc012;
 padding:10px;
    font-weight: normal;
}
.themeFooterArea .zs-highlight-box td {
 font-family:'PT Sans', Verdana, Geneva, sans-serif;
 font-size:14px;
 color:#777777;
 background:#f8f8f8;
 border-width:1px;
 border-style:solid;
 border-color:#CAA40C;
 padding:10px;
}
.themeFooterArea .zs-highlight-box form li span input[type=text], .themeFooterArea .zs-highlight-box form li span textarea, .themeFooterArea .zs-highlight-box form li span select {
    background: #DFB304;
border: 1px solid #F5C91C;
color:#FFEBA1;
}

.themeFooterArea .zs-text-light-color {
color:#525252
}
.themeFooterArea .zs-text-highlight-color {
color:#ECC012
}
.themeFooterArea .zs-highlight-box .zs-text-light-color {
color:#525252
}
.themeFooterArea .zs-highlight-box .zs-text-highlight-color {
color:#FF4242
}

.zs-highlight-box {
background-color: #f05959;
 background-image: none;
 background-image: none, -moz-linear-gradient(top, transparent, transparent);
 background-image: none, -webkit-linear-gradient(top, transparent, transparent);
 background-image: none, -o-linear-gradient(top, transparent, transparent);
 background-position: top left;
 background-repeat: no-repeat;
 box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5), 0px 0px 0px 0 transparent inset;
 -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5), 0px 0px 0px 0 transparent inset;
 -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5), 0px 0px 0px 0 transparent inset;
 -o-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5), 0px 0px 0px 0 transparent inset;
 border-width: 0;
 border-style:none;
 border-color:transparent;
 border-radius: 0;
 -moz-border-radius:0;
 -webkit-border-radius:0;
 -o-border-radius:0;
 padding: 10px;
 margin: 5px;
    min-height: 200px;
font-family:'PT Sans', Verdana, Geneva, sans-serif;
 font-size:14px;
 color:#FFC2C2;
}
.zs-highlight-box h1 {
font-family:'Raleway', Verdana, Geneva, sans-serif;
font-size:28px;
color:#FFF0B5;
}
.zs-highlight-box h2 {
font-family:'Raleway', Verdana, Geneva, sans-serif;
font-size:24px;
color:#FFF0B5;
}
.zs-highlight-box h3 {
font-family:'Raleway', Verdana, Geneva, sans-serif;
font-size:22px;
color:#FFF0B5;
}
.zs-highlight-box h4 {
font-family:'Raleway', Verdana, Geneva, sans-serif;
font-size:20px;
color:#FFF0B5;
}
.zs-highlight-box h5 {
font-family:'Raleway', Verdana, Geneva, sans-serif;
font-size:18px;
color:#FFF0B5;
}
.zs-highlight-box h6 {
font-family:'Raleway', Verdana, Geneva, sans-serif;
font-size:16px;
color:#FFF0B5;
}
.zs-highlight-box a {
 text-decoration:none;
color:#FFF0B5;
}
.zs-highlight-box a:hover {
text-decoration:none;
color:#FFF0B5;
}
.zs-highlight-box hr {
    border-top:1px solid #CA4C4C;
}
.zs-highlight-box th {
 font-family:'PT Sans', Verdana, Geneva, sans-serif;
 font-size:14px;
 color:#B93636;
 background:#FF8383;
 border-width:1px;
 border-style:solid;
 border-color:#f05959;
 padding:10px;
    font-weight: normal;
}
.zs-highlight-box td {
 font-family:'PT Sans', Verdana, Geneva, sans-serif;
 font-size:14px;
 color:#777777;
 background:#f8f8f8;
 border-width:1px;
 border-style:solid;
 border-color:#e6e5e5;
 padding:10px;
}
.zs-highlight-box form li span input[type=text], .zs-highlight-box form li span textarea, .zs-highlight-box form li span select {
    background: #FF6C6C;
border: 1px solid #EC5252;
color:#FFC2C2;
}

form ul {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-image: none;
}
form li {
    overflow: hidden;
    padding: 8px 0;
    margin: 0;
}
form ul li label, form ul li div {
    width: auto;
    float: left;
}
form ul li label {
    width: 200px;
}
form li div span {
    display: block;
}
form li span input, form li span label {
    float: none;
    width: auto;
    margin:5px 3px 0;
    font-weight: normal;
    padding: 5px 3px;
 #padding-top:1px;
}
form li span input[type=text], form li span textarea, form li span select {
 font-family:'PT Sans', Verdana, Geneva, sans-serif;
 font-size:14px;
 color:#777777;
    width: 280px;
    background: #fcfbfb;
    border: 1px solid #e7e6e6;
    float: left;
    padding: 6px;
    resize: none;
    margin: 0px;
}
form li span select {
    width: 293px;
}
form li span textarea {
    height: 80px;
    overflow: auto;
}
form .dateinvoker {
    background: url(images/datePickerIcn.png) 0 0 no-repeat;
    width:16px;
    height:15px;
    border: none;
    vertical-align: middle;
    margin-top: 8px;
    margin-left: 5px;
    outline: none;
    padding: 0px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
}
form li input[type=submit], form li input[type=reset], button {
 font-family:'PT Sans', Verdana, Geneva, sans-serif;
    font-size: 14px;
    color: #000000;
    border: 0 solid;
    background: #FFD738;
    padding: 5px 30px;
    margin-right: 10px;
    cursor: pointer;
 #padding:3px 5px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
}
form li input[type=reset] {
    background: #3e3e3e;
    color: #ffffff;
}

.zs-slideshow-left-arrow {
    background: url(images/zs-slideshow-left-arrow.png) left top no-repeat;
    cursor: pointer;
    height: 34px;
    left: 20px;
    margin-top: -17px;
    opacity: 0;
    position: absolute;
    top: 50%;
    transition: opacity 500ms ease 0s;
    -webkit-transition: opacity 500ms ease 0s;
    -moz-transition: opacity 500ms ease 0s;
    -o-transition: opacity 500ms ease 0s;
    width: 34px;
    z-index: 150;
}
.zs-slideshow-right-arrow {
    background: url(images/zs-slideshow-right-arrow.png) left top no-repeat;
    cursor: pointer;
    height: 34px;
    right: 20px;
    margin-top: -17px;
    opacity: 0;
    position: absolute;
    top: 50%;
    transition: opacity 500ms ease 0s;
    -webkit-transition: opacity 500ms ease 0s;
    -moz-transition: opacity 500ms ease 0s;
    -o-transition: opacity 500ms ease 0s;
    width: 34px;
    z-index: 150;
    left: auto;
}
.themeSlideshowOuterContainer {
    bottom: 0;
    opacity: 0;
    position: absolute;
    transition: opacity 500ms ease 0s;
    z-index: 150;
}
.themeSlideshowInnerContainer {
    background: transparent;
    border-radius: 0;
    padding: 0px 20px 13px;
    float: right;
}
.zs-slideshow-control-active {
    background: url(images/zs-slideshow-control-active.png) no-repeat left top;
    cursor: pointer;
    display: inline-block;
    height: 14px;
    margin: 0 0 0 5px;
    width: 14px;
}
.zs-slideshow-control {
    background: url(images/zs-slideshow-control.png) no-repeat left top;
    cursor: pointer;
    display: inline-block;
    height: 14px;
    margin: 0 0 0 5px;
    width: 14px;
}

.zs-text-light-color {
color:#BFBFBF
}
.zs-text-highlight-color {
color:#ECC012
}
.zs-highlight-box .zs-text-light-color {
color:#BFBFBF
}
.zs-highlight-box .zs-text-highlight-color {
color:#FFF0B5
}
/***************************** START: SOCIAL ICONS SPRITE *****************************/
.themeSocialIconContainer {
    float: left;
    margin-top: 25px;
}
.zs-socialicon-email,.zs-socialicon-facebook,.zs-socialicon-flickr,.zs-socialicon-googleplus,.zs-socialicon-linkedin,.zs-socialicon-pinterest,.zs-socialicon-rss,.zs-socialicon-twitter,.zs-socialicon-youtube {
    background:url('images/zs-socialicon-sprite.png') no-repeat top left; width:30px; height:30px; display: inline-block;
    margin: 0;
}
.zs-socialicon-email {
    background-position:0 -0px;
}
.zs-socialicon-facebook {
    background-position:0 -30px;
}
.zs-socialicon-flickr {
    background-position:0 -60px;
}
.zs-socialicon-googleplus {
    background-position:0 -90px;
}
.zs-socialicon-linkedin {
    background-position:0 -120px;
}
.zs-socialicon-pinterest {
    background-position:0 -150px;
}
.zs-socialicon-rss {
    background-position:0 -180px;
}
.zs-socialicon-twitter {
    background-position:0 -210px;
}
.zs-socialicon-youtube {
    background-position:0 -240px;
}
/*****************************   END: SOCIAL ICONS SPRITE *****************************/
